*.*
TEMP/
!work*.*
!rel*.*
!README.md
!*.FCStd
!.gitignore
!winding-geom.FCMacro
!test-macro1.FCMacro
!test-macro2.FCMacro
!test-macro3.FCMacro
!test-macro4.FCMacro
!test-macro5.FCMacro
!test-macro6.FCMacro
!test-macro7.FCMacro
!create-geom-proto.FCMacro