*.*
__pycache__
!.gitignore
!BackToMain.ui
!chktext.ui
!MainDialog.ui
!interfaces.py
!creategeom.py
!tab1.jpg
!Gr1.jpg
!Gr2.jpg
!Gr1_3.jpg
!Gr2_3.jpg
!groove-1_prev.jpg
!groove-2_prev.jpg
!import-error.vbs
!Gr1.fcstd
!Gr2.fcstd



